.advantages{


    ul{
        

        li{

            &::before {
                content: "•";
                font-size: 20px; 
                color: #f16c20;
                display: inline-block; width: 1em;
                margin-left: -1em;
            }
        }
    }
}