.main_header{
    //background-image: url("../../images/header/Rectangle\ 1@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
        .overlay{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba($color: $black, $alpha: 0.5);
        }
}

nav{
    position: relative;
}

.burger div{
    border-radius: 3px;
    transition: all 0.3s ease;
}

.dark div{
    background-color: #2e2e2e;
}
.light div{
    background-color: #fff;
}

.hero{
    height: 72vh;
}

.burger__animation .item1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger__animation .item2{
    opacity: 0;
}

.burger__animation .item3{
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1023px) {

    body{
        overflow-x: hidden;
    }
    .link__container{
        position: absolute;
        right: -10px;
        height: 70vh;
        top: 9vh;
        padding-top: 26px;
        padding-bottom: 26px;
        background-color: #ffff;
        color: #3f3f3f;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-around !important;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
        padding-right: 0px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    
    .link__container_active{
        transform: translateX(-8%);
    
    }
}


.h_underline h1, .h_underline h2{
    text-decoration: underline;
    text-decoration-color: #f16c20;
    -webkit-text-decoration-color: #f16c20;
    text-underline-offset: 16px;
    line-height: 2.5em;
}